<br>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Example App</title>
    </head>
    <body>
        {{{body}}}
        <div>
            <form action = "" method="post">
                <label for="title">title:</label><br>
                <input type="text" id="title" name="title"><br>
                <label for="url">url:</label><br>
                <input type="text" id="url" name="url">
                {{!-- <p>or</p>
                <label for="msg">text:</label><br> 
                <input type="text" id="msg" name="msg"> --}}
                <br>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>