<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Example App</title>
    </head>
    <body>
        <div>
            <form action = "" method="post">
                <label for="title">title:</label><br>
                <input type="text" id="title" name="title"><br>
                <label for="url">url:</label><br>
                <input type="text" id="url" name="url">
                <p>or</p>
                <label for="text">text:</label><br>
                <input type="text" id="text" name="text">
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>