<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {{{body}}}
        <div id="submitDiv">
            <form action = "" method="post">
                <table border="0">
                    <tbody>
                        <tr style="height: 10px;">
                            <td> </td>
                        </tr>  
                        <tr>
                            <td id = "titleText">title</td>
                            <td>
                                <input type="text" name="title" size="50">
                            </td>
                        </tr>
                        <tr>
                            <td id = "titleText">url</td>
                            <td>
                                <input type="url" name="url" size="50">
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>
                                <b>or</b>
                            </td>
                        </tr>
                        <tr>
                            <td id = "titleText" >text</td>
                            <td>
                                <textarea name="text" rows="5" cols="50" ></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>
                                <input id="submitButton" type="submit" value="submit">
                            </td>
                        </tr>
                        <tr style="height:20px">

                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td id = "titleText">
                                Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.
                                <br><br>
                                You can also submit via <a id = "titleText" href="" rel="nofollow"><u>bookmarklet</u></a>.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </body>
</html>