<html>
  <head>
  </head>
  <body>
    {{{body}}}
    <div id="profileDiv">
      <form action="" method="post">
        <table border="0">
          <tbody>
            <tr>
              <td id="titleText" valign="middle">user:</td>
              <td>
                <a
                  valign="top"
                  href="https://news.ycombinator.com/user?id=crypt0lution"
                ><font color="#3c963c">crypt0lution</font></a>
              </td>
            </tr>
            <tr>
              <td id="titleText">created:</td>
              <td>
                <a
                  id="link"
                  href="https://news.ycombinator.com/front?day=2022-04-14&amp;birth=crypt0lution"
                >2 days ago</a>
              </td>
            </tr>
            <tr>
              <td id="titleText">karma:</td>
              <td id="titleText">70</td>
            </tr>
            <tr>
              <td id="titleText">about:</td>
              <td style="overflow: hidden"></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <a
                  id="link"
                  href="https://news.ycombinator.com/submitted?id=crypt0lution"
                ><u>submissions</u></a>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <a
                  id="link"
                  href="https://news.ycombinator.com/threads?id=crypt0lution"
                ><u>comments</u></a>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <a
                  id="link"
                  href="https://news.ycombinator.com/favorites?id=crypt0lution"
                ><u>favorites</u></a>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>