<br>

 
<!DOCTYPE html>
<html>
        <head>
            <meta charset="utf-8">
            <title>FIBer News</title>
            <link rel="stylesheet" href="style.css">
        </head>
        <body>
            <div id="topbar">
                <span id="topbarItemsContainer">
                    <a class="topbarTitle" href="/">
                        <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Y_Combinator_logo.svg/1200px-Y_Combinator_logo.svg.png" width="18" height="18">
                    </a>
                    <a style="font-size: 13px; font-weight: bold;" class="topbarItem" href="/">FIBer News</a>
                    <a class="topbarItem" href="/newest">newest</a>
                    |
                    <a class="topbarItem" href="/submit">submit</a>
                    |
                    <a class="topbarItem" href="/ask">ask</a>
                    |                                   {{!-- Canviar TORTUGA per user actiu --}}
                     
                    {{#if loggedUser}}                  
                        <a class="topbarItem" href="/threads?username="{{truncate loggedUser}}>threads</a>            
                        <a class="Login" href="/profile">{{truncate loggedUser}}</a> 
                    {{else}}     
                        <a class="topbarItem" href="/threads?username=tortuga">threads</a>  
                        <a class="Login" href={{googleURL}}>Login</a>    
                    {{/if}} 
                </span>
            </div>
        </body>
    
    <script>

        //FIX ME: Threads no se pone en blanco por tener atributo "?username=tortuga"
        var elements = document.getElementsByClassName("topbarItem");
        let ref = window.location.href.split('/');
        for(let i = 0; i < elements.length; ++i){
            if(ref[ref.length-1] == '' && elements[i].innerHTML == "Home" || ref[ref.length-1] == elements[i].innerHTML.toLowerCase()){
                elements[i].setAttribute('id', 'current');
            }
        }
    </script>
</html>